@{
    ViewBag.Title = "角色菜单";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    ViewBag.MenuId = "menu1";
    ViewBag.SubMenuIndex = 1;
}
@model List<DataModel.Role>
    <div id="main-content">
        <div class="container">
            <div class="row">
                <div id="content" class="col-lg-12">
                    <!-- PAGE HEADER-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <!-- STYLER -->
                                <!-- /STYLER -->
                                <!-- BREADCRUMBS -->
                                <ul class="breadcrumb">
                                    <li>
                                        <i class="fa fa-home"></i>
                                        <a href="#">@Resources.Language.HomePage</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-briefcase fa-fw"></i>
                                        <a href="#">@Resources.Language.RoleMenu</a>
                                    </li>
                                    <li>
                                        @Resources.Language.RoleMenuManage
                                    </li>
                                </ul>
                                <!-- /BREADCRUMBS -->
                               
                            </div>
                        </div>
                    </div>
                    <!-- /PAGE HEADER -->
                    <!-- SAMPLE -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BOX -->
                            <div class="box border orange">
                                <div class="box-title">
                                    <h4><i class="fa fa-bars"></i>@Resources.Language.RoleMenuManage</h4>
                                </div>
                                <div id="jqGridContainerBox" class="box-body">
                                    <div class="row">
                                        <!-- ORDER SCROLL -->
                                        <div class="col-md-3">
                                            <div class="panel panel-default">
                                                <div class="panel-body orders">
                                                    <div @* class="scroller" *@ data-height="600px" data-always-visible="1" data-rail-visible="1">
                                                        <div class="padding-bottom-20">
                                                            <div class="input-group">
                                                                <input id="searchRole" type="text" class="form-control" placeholder="请输入角色名称" value="@ViewBag.QueryName">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-primary" type="button" onclick="searchRole($('#searchRole').val())">搜索</button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <ul class="list-unstyled">
                                                            @{
                                                                for (int i = 0; i < Model.Count; i++)
                                                                {
                                                                    <li class="clearfix" onclick="loadRoleMenus($(this), '@Model[i].IDX', '@Model[i].RoleName')">
                                                                        <div class="pull-left">
                                                                            @if (i % 2 == 0)
                                                                            {
                                                                                <p>
                                                                                    <h4>
                                                                                        <span class="label label-danger arrow-in-right"><i class="fa fa-user"></i><strong> @Model[i].RoleName</strong></span>
                                                                                    </h4>
                                                                                </p>
                                                                            }
                                                                            else
                                                                            {
                                                                                <p>
                                                                                    <h4>
                                                                                        <span class="label label-success arrow-in-right"><i class="fa fa-user"></i><strong> @Model[i].RoleName</strong></span>
                                                                                    </h4>
                                                                                </p>
                                                                            }
                                                                            @*<span> @Model[i].RoleName</span>
                                                                                <span> <abbr class=""> @Model[i].RoleName</abbr></span>*@
                                                                        </div>
                                                                        @*<div class="text-right pull-right">
                                                                                <p>
                                                                                    <h5>
                                                                                        <span class=""><i class="fa fa-phone-square"></i> @Model[i].RoleName</span>
                                                                                    </h5>
                                                                                </p>
                                                                                <p>
                                                                                    <span class=""><i class="fa fa-envelope"></i> @Model[i].RoleName</span>
                                                                                </p>
                                                                            </div>
                                                                            <div class="clearfix"></div>*@
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class='text-center'>
                                                    <ul class='pagination'>
                                                        @{
                                                            for (int i = 0; i < ViewBag.TotalPageNum; i++)
                                                            {
                                                                if (i + 1 == ViewBag.CurPage)
                                                                {
                                                                    <li class='active'>
                                                                        @*<a href='@Url.Action("GetRoles", "Permit", new { curPage = i + 1 })'>@(i + 1)</a>*@
                                                                        <a href='#' onclick='getRoles("@i")'>@(i + 1)</a>
                                                                    </li>
                                                                }
                                                                else
                                                                {
                                                                    <li class=''>
                                                                        @*<a href='@Url.Action("GetRoles", "Permit", new { curPage = i + 1 })'>@(i + 1)</a>*@
                                                                        <a href='#' onclick='getRoles("@i")'>@(i + 1)</a>
                                                                    </li>
                                                                }
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /ORDER SCROLL -->
                                        <div id="" class="col-md-9">
                                            <div id="contact-card" class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">
                                                        @{
                                                            if (Model.Count > 0)
                                                            {
                                                                <span hidden>@Model[0].IDX</span>
                                                                <span>@Model[0].RoleName</span>
                                                            }
                                                            else
                                                            {
                                                                <span></span>
                                                                <span></span>
                                                            }
                                                        }
                                                    </h3>
                                                </div>
                                                <div id="" class="panel-body">
                                                    <table id="jqGrid"></table>
                                                    <div id="jqGridPager"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /BOX -->
                        </div>
                    </div>
                    <!-- /SAMPLE -->
                    <div class="footer-tools">
                        <span class="go-top">
                            <i class="fa fa-chevron-up"></i> Top
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var tableConfig = null;

        $(document).ready(function () {

            if (tableConfig == null) {
                GetTableConfig();
            }

            $("#jqGrid").jqGrid({
                url: '@Url.Action("GetRowMenus", "Permit")' + '?rolId=' + $('.panel-title span:first').html(),
                mtype: "GET",
                datatype: "json",
                colModel: tableConfig.columns,
                viewrecords: true,
                //width: 780,
                height: '100%', //350,
                rowNum: 30,
                autowidth: true,
                editurl: '@Url.Action("AddEditRowMenu", "Permit")' + '?rolId=' + $('.panel-title span:first').html(),
                pager: "#jqGridPager",
                loadonce: true,
                rowList: ['30', '50', '80', '100'],
                rownumbers: true,
                shrinkToFit: false,     //指定各列宽度
                sortable: true,          //列可移动
                colMenu: true          //列菜单

            });

            //$('#jqGrid').jqGrid('filterToolbar', { searchResult: true, searchOperators: true });
            $("#jqGrid").jqGrid('bindKeys');  //光标可以控制上下移动

            $('#jqGridContainerBox').resize(function () {
                var width = $('#jqGridContainerBox').width();
                $("#jqGrid").setGridWidth(width);
            });

            $('#jqGrid').navGrid('#jqGridPager', { edit: false, add: false, del: false, refresh: false, view: false, search: false })

                .navButtonAdd('#jqGridPager', {
                    caption: "", title: '@Resources.Language.Refresh', buttonicon: "ui-icon-refresh",
                    onClickButton: function () {
                        //alert("haha");
                        @*$.ajax(
                            {
                                type: "get",
                                url: '@Url.Action("GetDataForLoadOnce", "OrderManage")',
                                dataType: 'json',
                                type: 'get',
                                data:{'_search':false, 'sidx':'', 'sord':'', 'page':1, 'rows':10},
                                success: function (result) {

                                    $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                                },
                            }
                            );*@

                        $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    }
                })
                .navSeparatorAdd("#jqGridPager", { sepclass: "ui-separator", sepcontent: '' })
                .navButtonAdd('#jqGridPager', {
                    caption: "", title: '@Resources.Language.DeleteSelectedRows', buttonicon: "ui-icon-trash",
                    onClickButton: function () {
                        var rowid = jQuery('#jqGrid').jqGrid('getGridParam', 'selrow');
                        var dr = jQuery("#jqGrid").jqGrid('getRowData', rowid);//得到该行的数据
                        if (rowid != null) {
                            if (confirm('@Resources.Language.SureDelete')) {
                                var d = new Date();
                                $.ajax(
                                    {
                                        type: "post",
                                        url: '@Url.Action("DeleteRoleMenu", "Permit")',
                                        data: { 'oper': 'delete', 'data': dr },//"oper=delete&id=" + gr,
                                        dataType: 'json',
                                        success: function (result) {
                                            alert(result.message);
                                            //jQuery("#jqGrid").jqGrid('delRowData', rowid);
                                            $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                                        },

                                    }
                                    );
                            }
                        }
                        else {
                            alert('选中一行');
                        }
                    },
                    position: "last"
                });

            $('#jqGrid').inlineNav('#jqGridPager',
                {
                    edit: true,
                    add: true,
                    del: true,
                    cancel: true,
                    editParams: {
                        keys: true,
                        successfunc: function (val) {
                            if (val.responseText != "") {
                                var ret = $.parseJSON(val.responseText);
                                alert(ret.message);
                                $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                            }
                        },
                        url: null, //'/api/values',
                        mtype: 'POST'
                    },

                    addParams: {
                        keys: true,
                        successfunc: function (val) {
                            if (val.responseText != "") {
                                var ret = $.parseJSON(val.responseText);
                                alert(ret.message);
                                $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                            }
                        },
                        errorfunc: function (rowid, xhr) {
                            alert(xhr.responseText);
                            $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        }
                    }
                });

            //最后调用，冻结列
            //$("#jqGrid").jqGrid("setFrozenColumns");
        });

        function GetTableConfig() {
            tableConfig = {
                columns: [

                    {
                        align: 'center', label: 'RoleID', index: "RoleID", name: "RoleID", width: 100, editable: true, edittype: "text",
                        editrules: { required: false }, hidden: true,
                    },
                {
                    align: 'center', label: '@Resources.Language.Role_RoleName', name: "RoleName", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {

                    },
                    searchoptions: { sopt: ["cn"] }
                },
                    {
                        align: 'center', label: 'IDX', name: "IDX", width: 100, editable: true, edittype: "text",
                        editrules: { required: false }, hidden: true,
                    },
                {
                    align: 'center', label: '@Resources.Language.RoleMenu_Page', name: "Page", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {
                    },
                    searchoptions: { sopt: ["cn"] }
                },
                {
                    align: 'center', label: '@Resources.Language.RoleMenu_Menu', name: "Menu", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {
                    },
                    searchoptions: { sopt: ["cn"] }
                },
                {
                    align: 'center', label: '@Resources.Language.RoleMenu_MenuName', name: "MenuName", width: 100, editable: true, edittype: "text",
                    editrules: { required: true }, colmenu: false,
                    hidden: false,
                    searchoptions: { sopt: ["cn"] },
                    editoptions: {
                    }
                },
        {
            align: 'center', label: '@Resources.Language.RoleMenu_Visible', name: "Visible", width: 100, editable: true, edittype: "text",
            editrules: { required: true }, hidden: false,
            editoptions: {
            },
            searchoptions: { sopt: ["cn"] }
        },
        {
            align: 'center', label: '@Resources.Language.IsAdmin', name: "IsAdmin", width: 110, editable: true, edittype: "text",
            editrules: { required: false },
            hidden: false,
            editoptions: {
            }
        },
        {
            align: 'center', label: '@Resources.Language.Remark', name: "Remark", width: 100, editable: true, edittype: "text",
            editrules: { required: false }, hidden: false,
            coloptions: { sorting: true, columns: false, filtering: false, seraching: true, grouping: true, freeze: false },
        }
                ]
            };
        }

        function loadRoleMenus(self, Role_id, Role_RoleName) {
            $('.panel-title span:first').html(Role_id);
            $('.panel-title span:last').html(Role_RoleName);

            $('li.clearfix').removeAttr('style');
            $(self).css('background-color', 'ButtonHighlight');

            //alert(Role_id);
            $('#jqGrid').jqGrid('setGridParam',
                {
                    datatype: 'json',
                    url: '@Url.Action("GetRowMenus", "Permit")' + '?rolId=' + $('.panel-title span:first').html(),
                }).trigger('reloadGrid');

            //alert('@Url.Action("AddEditRowMenu", "Permit")' + '?rolId=' + Role_id );
            $("#jqGrid").jqGrid('setGridParam', { editurl: '@Url.Action("AddEditRowMenu", "Permit")' + '?rolId=' + Role_id });
        }

        function searchRole(text) {

            var curPage = 1;
            var queryName = text.trim();

            $.ajax(
                {
                    type: "get",
                    url: '@Url.Action("GetRoles", "Permit")',
                    dataType: 'html',
                    type: 'get',
                    data: { 'curPage': curPage, 'queryName': queryName },
                    success: function (result) {
                        $("body").html(result);
                    },
                }
                );
        }

        function getRoles(pageIndex) {
            var curPage = parseInt(pageIndex) + 1;
            var queryName = $('#searchRole').val().trim();

            $.ajax(
                {
                    type: "get",
                    url: '@Url.Action("GetRoles", "Permit")',
                    dataType: 'html',
                    type: 'get',
                    data: { 'curPage': curPage, 'queryName': queryName },
                    success: function (result) {
                        $("body").html(result);
                    },
                }
                    );
        }
    </script>