@{
    ViewBag.Title = Resources.Language.CustomerInformation;
    ViewBag.MenuId = "menu2";
    ViewBag.SubMenuIndex = 0;
    ViewBag.user_name = User.Identity.Name;
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
@model DataModel.Customer
<div id="main-content">
    <!-- MODAL 增加-->
    <div class="modal fade" id="parent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div id="model-dlg" class="modal-dialog" style="width:800px">
            <div class="modal-content modal-table">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box border blue">
                                <div class="box-title">
                                    <h4><i class="fa fa-windows"></i>@Resources.Language.Customer_NewCustomer</h4>
                                    <div class="tools hidden-xs">
                                        <a href="javascript:;" class="" onclick="$('#parent-modal').modal('hide');">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="box-body big">
                                    @*<h4 class="form-title">Supported controls</h4>*@
                                    <form class="form-horizontal" role="form">

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.Customer_Code</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Customer_Code" class="form-control" placeholder="@Resources.Language.Customer_Code" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">*@Resources.Language.Customer_Name1</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Customer_Name1" type="text" class="form-control" placeholder="@Resources.Language.Customer_Name1" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.Customer_Name2</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Customer_Name2" type="text" class="form-control" placeholder="@Resources.Language.Customer_Name2" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.Customer_SimpleName</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Customer_SimpleName" type="text" class="form-control" placeholder="@Resources.Language.Customer_SimpleName" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.Customer_ContactPerson</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Customer_ContactPerson" type="text" class="form-control" placeholder="@Resources.Language.Customer_ContactPerson" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.Customer_Telephone</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Customer_Telephone" type="text" class="form-control" placeholder="@Resources.Language.Customer_Telephone" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.Customer_Fax</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Customer_Fax" type="text" class="form-control" placeholder="@Resources.Language.Customer_Fax" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.Customer_Email</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Customer_Email" type="text" class="form-control" placeholder="@Resources.Language.Customer_Email" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.Customer_Address</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Customer_Address" type="text" class="form-control" placeholder="@Resources.Language.Customer_Address" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.Customer_MailCode</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Customer_MailCode" type="text" class="form-control" placeholder="@Resources.Language.Customer_MailCode" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">@Resources.Language.Remark</label>
                                                    <div class="col-sm-10">
                                                        <textarea id="_Remark" rows="3" class="form-control" placeholder="@Resources.Language.Remark" onfocus="$(this).parent().removeClass('has-error')"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div id="parentErrMsg" class="alert alert-block alert-warning fade in" hidden>
                                        @*<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>*@
                                        <i class="fa fa-exclamation-circle"></i><p style=""></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">@Resources.Language.Close</button>
                    <button type="button" class="btn btn-primary" onclick="submitParentModal()">@Resources.Language.Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /MODAL 增加-->
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- PAGE HEADER-->
                <div class="row">
                    <div class="col-sm-12">
                        <div @*class="page-header"*@>
                            <!-- STYLER -->
                            <!-- /STYLER -->
                            <!-- BREADCRUMBS -->
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="#">@Resources.Language.HomePage</a>
                                </li>
                                <li>
                                    <i class="fa fa-users"></i>
                                    <a href="#">物料分类</a>
                                </li>
                                <li>
                                    分类信息
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /PAGE HEADER -->
                @*<div class="row">
                        <div class="col-md-12">
                            <div class="box border orange">
                                <div class="box-title">
                                </div>
                                <div class="box-body">
                                    <div>
                                        <ul>
                                            <li>@Model.Code</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- SAMPLE -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BOX -->
                        <div class="box border orange">
                            <div class="box-title">
                                <h4><i class="fa fa-bars"></i>物料分类管理</h4>
                            </div>
                            <div id="jqGridContainerBox" class="box-body">
                                <table id="jqGrid"></table>
                                <div id="jqGridPager"></div>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
                <!-- /SAMPLE -->
                <div class="footer-tools">
                    <span class="go-top">
                        <i class="fa fa-chevron-up"></i> Top
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var tableConfig = null;

    $(document).ready(function () {

        if (tableConfig == null) {
            GetTableConfig();
        }

        $("#jqGrid").jqGrid({
            //url: 'http://trirand.com/blog/phpjqgrid/examples/jsonp/getjsonp.php?callback=?&qwery=longorders',
            url: '@Url.Action("GetDataForLoadOnce", "Customer")',
            mtype: "GET",
            datatype: "json",
            colModel: tableConfig.columns,
            viewrecords: true,
            //width: 780,
            height: '100%', //height: $(window).height() - 300,
            rowNum: 15,
            autowidth: true,
            editurl: '@Url.Action("AddEdit", "Customer")',
            pager: "#jqGridPager",
            loadonce: true,
            rowList: ['15', '20', '30', '40', '50'],
            rownumbers: true,
            shrinkToFit: false,     //指定各列宽度
            sortable: true,          //列可移动
            colMenu: true          //列菜单
        });

        $('#jqGrid').jqGrid('filterToolbar', { searchResult: true, searchOperators: true });

        $("#jqGrid").jqGrid('bindKeys');  //光标可以控制上下移动

        $('#jqGridContainerBox').resize(function () {
            var width = $('#jqGridContainerBox').width();
            $("#jqGrid").setGridWidth(width);
        });

        $('#jqGrid').navGrid('#jqGridPager', { edit: false, add: false, del: false, refresh: false, view: false, search: false })

            .navButtonAdd('#jqGridPager', {
                caption: "", title: '@Resources.Language.Refresh', buttonicon: "ui-icon-refresh",
                onClickButton: function () {
                    $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                }
            })
            .navButtonAdd('#jqGridPager', {
                caption: "", title: '@Resources.Language.ClearSearchFilter', buttonicon: "ui-icon-circle-minus",
                onClickButton: function () {
                    var grid = $('#jqGrid')[0];
                    grid.clearToolbar();
                    $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                }
            })
            .navSeparatorAdd("#jqGridPager", { sepclass: "ui-separator", sepcontent: '' })
            .navButtonAdd('#jqGridPager', {
                caption: "", title: '@Resources.Language.DeleteSelectedRows', buttonicon: "ui-icon-trash",
                onClickButton: function () {
                    var rowid = jQuery('#jqGrid').jqGrid('getGridParam', 'selrow');
                    var dr = jQuery("#jqGrid").jqGrid('getRowData', rowid);//得到该行的数据
                    if (rowid != null) {
                        if (confirm('@Resources.Language.SureDelete')) {
                            var d = new Date();
                            $.ajax(
                                {
                                    type: "post",
                                    url: '@Url.Action("Delete", "Customer")',
                                    data: { 'oper': 'delete', 'data': dr },//"oper=delete&id=" + gr,
                                    dataType: 'json',
                                    success: function (result) {
                                        alert(result.message);
                                        //jQuery("#jqGrid").jqGrid('delRowData', rowid);
                                        $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                                    },
                                    error: function (result) {
                                        console.log(result)
                                        try {
                                            var json = $.parseJSON(result.responseText);
                                            alert(json.errorMessage);
                                        } catch (e) {
                                            alert(e.message);
                                        }
                                    }
                                }
                                );
                        }
                    }
                    else {
                        alert('选中一行');
                    }
                },
                position: "last"
            })
            .navButtonAdd('#jqGridPager', {
                //id: 'jqGrid_ilrefresh',
                caption: "", title: '@Resources.Language.Add', buttonicon: "ui-icon-plus",
                onClickButton: AddParent
            });

        $('#jqGrid').inlineNav('#jqGridPager',
            {
                edit: true,
                add: false,
                del: true,
                cancel: true,
                editParams: {
                    keys: true,
                    successfunc: function (val) {
                        if (val.responseText != "") {
                            var ret = $.parseJSON(val.responseText);
                            alert(ret.message);
                            $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        }
                    },
                    url: null, //'/api/values',
                    mtype: 'POST'
                },

                addParams: {
                    keys: true,
                    successfunc: function (val) {
                        //alert("111");
                        if (val.responseText != "") {
                            var ret = $.parseJSON(val.responseText);
                            alert(ret.message);
                            $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        }
                    },
                    errorfunc: function (rowid, xhr) {
                        alert(xhr.responseText);
                        //$(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    }
                }
            });

        //最后调用，冻结列
        //$("#jqGrid").jqGrid("setFrozenColumns");
    });

    function GetTableConfig() {
        tableConfig = {
            columns: [

                {
                    align: 'center', label: '@Resources.Language.Customer_IDX', index: "IDX", name: "IDX", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.Customer_Code', name: "Code", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: false,
                    coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: false, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.Customer_Name1', name: "Name1", width: 200, editable: true, edittype: "text",
                    editrules: { required: true }, hidden: false,
                    colmenu: false, coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: false, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.Customer_Name2', name: "Name2", width: 200, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    colmenu: false, coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: false, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.Customer_SimpleName', name: "SimpleName", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    colmenu: false, coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: false, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.Customer_TypeID', name: "TypeID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true },
                    hidden: true,
                    editoptions: {
                        defaultValue: -1
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.Customer_ContactPerson', name: "ContactPerson", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    colmenu: false, coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: false, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.Customer_Telephone', name: "Telephone", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    colmenu: false, coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: false, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.Customer_Fax', name: "Fax", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    colmenu: false, coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: false, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.Customer_Email', name: "Email", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    colmenu: false, coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: false, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.Customer_Address', name: "Address", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    colmenu: false, coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: false, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.Customer_MailCode', name: "MailCode", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: false,
                    editoptions: {},
                    colmenu: false, coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: false, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.Remark', name: "Remark", width: 150, editable: true, edittype: "textarea",
                    editrules: { required: false }, hidden: false,
                    colmenu: false, coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: false, freeze: false },
                    searchoptions: { sopt: ["cn", "eq", "bw", "ew"] },
                },
                {
                    align: 'center', label: '@Resources.Language.OwnerID', name: "OwnerID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                    editoptions: {
                        defaultValue: -1
                    }
                },
                {
                    align: 'center',
                    label: '@Resources.Language.CreateDate', name: "CreateDate", width: 100, editable: false, edittype: "text",
                    editrules: { required: false, date: true }, hidden: false,
                    colmenu: false, coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: false, freeze: false },
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datetimepicker({
                                format: 'Y-m-d H:i:s',
                                step: 1,
                            });
                        },
                        defaultValue: new Date().Format("yyyy-MM-dd hh:mm:ss")
                    },

                    searchoptions: {
                        sopt: ["lt", "ge"],
                        dataInit: function (element) {
                            $(element).datetimepicker({
                                format: 'Y-m-d H:i:s',
                                step: 1,
                                //timepicker: false
                            });
                        }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.UserID', name: "UserID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center',
                    label: '@Resources.Language.LastUpDate', name: "LastUpDate", width: 100, editable: false, edittype: "text",
                    editrules: { required: false, date: true }, hidden: false,
                    colmenu: false, coloptions: { sorting: false, columns: false, filtering: false, seraching: false, grouping: false, freeze: false },
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datetimepicker({
                                format: 'Y-m-d H:i:s',
                                step: 1,
                            });
                        },
                        defaultValue: new Date().Format("yyyy-MM-dd hh:mm:ss")
                    },

                    searchoptions: {
                        sopt: ["lt", "ge"],
                        dataInit: function (element) {
                            $(element).datetimepicker({
                                format: 'Y-m-d H:i:s',
                                step: 1,
                                //timepicker: false
                            });
                        }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol1', name: "UserDefinedCol1", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol2', name: "UserDefinedCol2", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol3', name: "UserDefinedCol3", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol4', name: "UserDefinedCol4", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol5', name: "UserDefinedCol5", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, number: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol6', name: "UserDefinedCol6", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol7', name: "UserDefinedCol7", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol8', name: "UserDefinedCol8", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol9', name: "UserDefinedCol9", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, date: true }, hidden: true,
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datetimepicker({
                                format: 'Y-m-d H:i:s',
                                step: 1,
                            });
                        },
                        defaultValue: new Date().Format("yyyy-MM-dd hh:mm:ss")
                    },

                    searchoptions: {
                        sopt: ["lt", "ge"],
                        dataInit: function (element) {
                            $(element).datetimepicker({
                                format: 'Y-m-d H:i:s',
                                step: 1,
                                //timepicker: false
                            });
                        }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol10', name: "UserDefinedCol10", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, date: true }, hidden: true,
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datetimepicker({
                                format: 'Y-m-d H:i:s',
                                step: 1,
                            });
                        },
                        defaultValue: new Date().Format("yyyy-MM-dd hh:mm:ss")
                    },

                    searchoptions: {
                        sopt: ["lt", "ge"],
                        dataInit: function (element) {
                            $(element).datetimepicker({
                                format: 'Y-m-d H:i:s',
                                step: 1,
                                //timepicker: false
                            });
                        }
                    }
                },
                    { align: 'center', label: 'Billing', name: "Billing", width: 100, editable: true, edittype: "text", editrules: { required: false }, hidden: true },
                    { align: 'center', label: 'CustomerShip', name: "CustomerShip", width: 100, editable: true, edittype: "text", editrules: { required: false }, hidden: true }

            ]
        };
    }

    //模态框
    function AddParent() {
        $('#parent-modal').modal()
    }
    function initParentModal() {
        $('#parentErrMsg').hide();
        $('#_Customer_Code').parent().removeClass("has-error");
        $('#_Customer_Name1').parent().removeClass("has-error");
        $('#_Customer_Name2').parent().removeClass("has-error");
        $('#_Customer_SimpleName').parent().removeClass("has-error");
        $('#_Customer_ContactPerson').parent().removeClass("has-error");
        $('#_Customer_Telephone').parent().removeClass("has-error");
        $('#_Customer_Fax').parent().removeClass("has-error");
        $('#_Customer_Email').parent().removeClass("has-error");
        $('#_Customer_Address').parent().removeClass("has-error");
        $('#_Customer_MailCode').parent().removeClass("has-error");
        $('#_Remark').parent().removeClass("has-error");

        $('#_Customer_Code').val("");
        $('#_Customer_Name1').val("");
        $('#_Customer_Name2').val("");
        $('#_Customer_SimpleName').val("");
        $('#_Customer_ContactPerson').val("");
        $('#_Customer_Telephone').val("");
        $('#_Customer_Fax').val("");
        $('#_Customer_Email').val("");
        $('#_Customer_Address').val("");
        $('#_Customer_MailCode').val("");
        $('#_Remark').val("");
    }

    $('#parent-modal').on('show.bs.modal', function (e) {
        initParentModal();
    });
    $('#parent-modal').on('shown.bs.modal', function (e) {
    });
    $('#parent-modal').on('hide.bs.modal', function () {
        $(this).removeData("bs.modal");
        //alert("hide");
    });
    $('#parent-modal').on('hidden.bs.modal', function () {
        $(this).removeData("bs.modal");
        //alert("hidden");
    });

    function submitParentModal() {
        var maxTextLength = 25;
        var maxTextAreaLength = 500;

        $('#parentErrMsg').hide();
        $('#_Customer_Code').parent().removeClass("has-error");
        $('#_Customer_Name1').parent().removeClass("has-error");
        $('#_Customer_Name2').parent().removeClass("has-error");
        $('#_Customer_SimpleName').parent().removeClass("has-error");
        $('#_Customer_ContactPerson').parent().removeClass("has-error");
        $('#_Customer_Telephone').parent().removeClass("has-error");
        $('#_Customer_Fax').parent().removeClass("has-error");
        $('#_Customer_Email').parent().removeClass("has-error");
        $('#_Customer_Address').parent().removeClass("has-error");
        $('#_Customer_MailCode').parent().removeClass("has-error");
        $('#_Remark').parent().removeClass("has-error");

        var Customer_Code = $('#_Customer_Code').val();
        var Customer_Name1 = $('#_Customer_Name1').val();
        var Customer_Name2 = $('#_Customer_Name2').val();
        var Customer_SimpleName = $('#_Customer_SimpleName').val();
        var Customer_ContactPerson = $('#_Customer_ContactPerson').val();
        var Customer_Telephone = $('#_Customer_Telephone').val();
        var Customer_Fax = $('#_Customer_Fax').val();
        var Customer_Email = $('#_Customer_Email').val();
        var Customer_Address = $('#_Customer_Address').val();
        var Customer_MailCode = $('#_Customer_MailCode').val();
        var Remark = $('#_Remark').val();

        if (Customer_Name1.length <= 0) {
            $('#parentErrMsg p').html('@Resources.Language.Customer_Name1' + "@Resources.Language.IsNull");
            $('#_Customer_Name1').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        }
        //提交数据库
        $.ajax({
            type: "post",
            url: '@Url.Action("AddCustomer", "Customer")',
            data: {
                'Code': Customer_Code,
                'Name1': Customer_Name1,
                'Name2': Customer_Name2,
                'SimpleName': Customer_SimpleName,
                'ContactPerson': Customer_ContactPerson,
                'Telephone': Customer_Telephone,
                'Fax': Customer_Fax,
                'Email': Customer_Email,
                'Address': Customer_Address,
                'MailCode': Customer_MailCode,
                'Remark': Remark
            },//"oper=delete&id=" + gr,
            dataType: 'json',
            success: function (result) {

                $('#parent-modal').modal('hide')
                //jQuery("#jqGrid").jqGrid('delRowData', rowid);
                //$('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                alert(result.message);

                $('#jqGrid').jqGrid('setGridParam',
                {
                    datatype: 'json',
                    url: '@Url.Action("GetDataForLoadOnce", "Customer")',
                }).trigger('reloadGrid');

                $("#jqGrid").jqGrid('setGridParam', { editurl: '@Url.Action("AddEdit", "Customer")' });

            },
            error: function (result) {
                console.log(result)
                try {
                    var json = $.parseJSON(result.responseText);
                    alert(json.errorMessage);
                } catch (e) {
                    alert(e.message);
                }
                return;
            }
        });

    }
</script>