@{
    ViewBag.Title = "人員信息";
    ViewBag.MenuId = "menu1";
    ViewBag.SubMenuIndex = 0;
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<div id="main-content">
    <!-- MODAL 增加-->
    <div class="modal fade" id="parent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div id="model-dlg" class="modal-dialog" style="width:800px">
            <div class="modal-content modal-table">
                <form class="form-horizontal" role="form" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box border blue">
                                    <div class="box-title">
                                        <h4><i class="fa fa-windows"></i>@Resources.Language.UserInfor_NewUser</h4>
                                        <div class="tools hidden-xs">
                                            <a href="javascript:;" class="" onclick="$('#parent-modal').modal('hide');">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="box-body big">
                                        @*<h4 class="form-title">Supported controls</h4>*@

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">*@Resources.Language.UserInfor_UserName</label>
                                                    <div class="col-sm-8">
                                                        <input id="_UserName" class="form-control" placeholder="@Resources.Language.UserInfor_UserName" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.UserInfor_Dept</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Dept" type="text" class="form-control" placeholder="@Resources.Language.UserInfor_Dept" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.UserInfor_Sec</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Sec" type="text" class="form-control" placeholder="@Resources.Language.UserInfor_Sec" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">*@Resources.Language.UserInfor_Name1</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Name1" type="text" class="form-control" placeholder="@Resources.Language.UserInfor_Name1" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.UserInfor_Name2</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Name2" type="text" class="form-control" placeholder="@Resources.Language.UserInfor_Name2" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.UserInfor_WorkNumber</label>
                                                    <div class="col-sm-8">
                                                        <input id="_WorkNumber" type="text" class="form-control" placeholder="@Resources.Language.UserInfor_WorkNumber" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.UserInfor_Sex</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Sex" type="text" class="form-control" placeholder="@Resources.Language.UserInfor_Sex" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.UserInfor_Tel</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Tel" type="text" class="form-control" placeholder="@Resources.Language.UserInfor_Tel" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">@Resources.Language.UserInfor_Email</label>
                                                    <div class="col-sm-8">
                                                        <input id="_Email" type="text" class="form-control" placeholder="@Resources.Language.UserInfor_Email" onfocus="$(this).parent().removeClass('has-error')" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="parentErrMsg" class="alert alert-block alert-warning fade in" hidden>
                                            @*<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>*@
                                            <i class="fa fa-exclamation-circle"></i><p style=""></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">@Resources.Language.Close</button>
                        @*<button type="submit" class="btn btn-primary">@Resources.Language.Submit</button>*@
                        <button type="submit" class="btn btn-primary" onclick="submitParentModal()">@Resources.Language.Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- /MODAL 增加-->
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- PAGE HEADER-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="">
                            <!-- STYLER -->
                            <!-- /STYLER -->
                            <!-- BREADCRUMBS -->
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="#">@Resources.Language.HomePage</a>
                                </li>
                                <li>
                                    <i class="fa fa-briefcase fa-fw"></i>
                                    <a href="#">@Resources.Language.UserInfor</a>
                                </li>
                                <li>
                                    @Resources.Language.UserInforManage
                                </li>
                            </ul>
                            <!-- /BREADCRUMBS -->
                        </div>
                    </div>
                </div>
                <!-- /PAGE HEADER -->
                @*<div class="row">
                        <div class="col-md-12">
                            <div class="box border orange">
                                <div class="box-title">
                                </div>
                                <div class="box-body">
                                    <div>
                                        <ul>
                                            <li>@Model.Code</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- SAMPLE -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BOX -->
                        <div class="box border orange">
                            <div class="box-title">
                                <h4><i class="fa fa-bars"></i>@Resources.Language.UserInforManage</h4>
                            </div>
                            <div id="jqGridContainerBox" class="box-body">
                                <table id="jqGrid"></table>
                                <div id="jqGridPager"></div>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
                <!-- /SAMPLE -->
                <div class="footer-tools">
                    <span class="go-top">
                        <i class="fa fa-chevron-up"></i> Top
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var tableConfig = null;
    //设置treegrid
    @*jQuery(document).ready(function ($) {
        jQuery('#tree').jqGrid({
            "url": "/Organization/OrgGetDataForLoadOnce",
            "editurl": "/Organization/OrgAddEdit",
            "datatype": "json",
            "colModel": [
                {
                    "name": "IDX",
                    "index": "IDX",
                    "sorttype": "int",
                    "key": true,
                    "hidden": true
                },

                {
                    "name": "Name1",
                    "index": "Name1",
                    "sorttype": "string",
                    "label": "组织结构",
                    "editable": true,
                    "width": 50
                },
                {
                    "name": "InCode",
                    "index": "InCode",
                    "sorttype": "string",
                    "label": "InCode",
                    "editable": true,
                    "hidden": true,
                    "width": 50
                },
                {
                    "name": "FatherID",
                    "hidden": true
                },
                //{
                //    "name": "IsLeaf",
                //    "editable": true,
                //    "hidden": true
                //},
                {
                    "name": "LevelValue",
                    "editable": true,
                    "hidden": true
                }
            ],
            "width": 300,
            //"caption": "组织结构",
            "mtype": "POST",
            "hoverrows": false,
            "viewrecords": false,
            "gridview": true,
            "height": 335,//"auto",
            "sortname": "Name1",
            "scrollrows": true,

            "treeGrid": true,
            "ExpandColumn": "Name1",
            "treedatatype": "json",
            "treeGridModel": "adjacency",
            "loadonce": true,
            "rowNum": 100,
            "treeReader": {
                "parent_id_field": "FatherID",
                "level_field": "LevelValue",
                "leaf_field": "IsLeaf",
                "expanded_field": "expanded",
                "loaded": "loaded",
                "icon_field": "icon"
            },
            //"treeIcons": {
            //    "plus": "ui-icon-circlesmall-plus",
            //    "minus": "ui-icon-circlesmall-minus",
            //    "leaf": "ui-icon-document"
            //},
            "sortorder": "asc",
            "pager": "#pager",
            "onSelectRow": function (rowid) {
                if (rowid != null) {
                    var dr = $('#tree').jqGrid('getRowData', rowid);
                    //alert(dr.IsLeaf);
                    //if (dr.IsLeaf === 'true') {
                    treeidx = dr.IDX;
                    incode = dr.InCode;
                    level = dr.LevelValue;
                    //$("#InCode").html(dr.InCode);
                    //$("#Name1").html(dr.Name1);
                    $('#jqGrid').jqGrid('setGridParam', { mtype: 'POST', datatype: 'json', url: '@(Url.Action("LoadUsersFilter", "Organization"))?incode=' + incode }).trigger('reloadGrid');
                    //}
                }
                //else {
                //    alert('选中一行');
                //}
            },
        });*@
    //设置treegrid的导航
    //jQuery('#tree').jqGrid('navGrid', '#pager',
    //{
    //    "edit": true,
    //    "add": true,
    //    "del": true,
    //    "search": true,
    //    "refresh": true,
    //    "view": false,
    //    "excel": false,
    //    "pdf": false,
    //    "csv": false,
    //    "columns": false
    //},
    //{ "drag": true, "resize": true, "closeOnEscape": true, "dataheight": 150 },
    //{ "drag": true, "resize": true, "closeOnEscape": true, "dataheight": 150 }
    //);
    //jQuery('#tree').jqGrid('bindKeys');

    //设置jqgrid
    if (tableConfig == null) {
        GetTableConfig();
    }

    $("#jqGrid").jqGrid({
        //url: 'http://trirand.com/blog/phpjqgrid/examples/jsonp/getjsonp.php?callback=?&qwery=longorders',
        url: '@Url.Action("UserGetDataForLoadOnce", "Organization")',
        mtype: "GET",
        datatype: "json",
        colModel: tableConfig.columns,
        viewrecords: true,
        //width: 780,
        height: '100%', //height: $(window).height() - 300,
        rowNum: 15,
        autowidth: true,
        editurl: '@Url.Action("UserAddEdit", "Organization")',
            pager: "#jqGridPager",
            loadonce: true,
            rowList: ['15', '20', '30', '40', '50'],
            rownumbers: true,
            shrinkToFit: false,     //指定各列宽度
            sortable: true,          //列可移动
            colMenu: true          //列菜单
        });

        $('#jqGrid').jqGrid('filterToolbar', { searchResult: true, searchOperators: true });

        $("#jqGrid").jqGrid('bindKeys');  //光标可以控制上下移动

        $('#jqGridContainerBox').resize(function () {
            var width = $('#jqGridContainerBox').width();
            $("#jqGrid").setGridWidth(width);
        });

        $('#jqGrid').navGrid('#jqGridPager', { edit: false, add: false, del: false, refresh: false, view: false, search: false })

            .navButtonAdd('#jqGridPager', {
                caption: "", title: '@Resources.Language.Refresh', buttonicon: "ui-icon-refresh",
                onClickButton: function () {
                    $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                }
            })
            .navButtonAdd('#jqGridPager', {
                caption: "", title: "'@Resources.Language.ClearSearchFilter'", buttonicon: "ui-icon-circle-minus",
                onClickButton: function () {
                    var grid = $('#jqGrid')[0];
                    grid.clearToolbar();
                    $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                }
            })
            .navSeparatorAdd("#jqGridPager", { sepclass: "ui-separator", sepcontent: '' })
            .navButtonAdd('#jqGridPager', {
                caption: "", title: '@Resources.Language.DeleteSelectedRows', buttonicon: "ui-icon-trash",
                onClickButton: function () {
                    var rowid = jQuery('#jqGrid').jqGrid('getGridParam', 'selrow');
                    var dr = jQuery("#jqGrid").jqGrid('getRowData', rowid);//得到该行的数据
                    if (rowid != null) {
                        if (confirm('@Resources.Language.SureDelete')) {
                            var d = new Date();
                            $.ajax(
                                {
                                    type: "post",
                                    url: '@Url.Action("Delete", "Organization")',
                                    data: { 'oper': 'delete', 'data': dr },//"oper=delete&id=" + gr,
                                    dataType: 'json',
                                    success: function (result) {
                                        alert(result.message);
                                        //jQuery("#jqGrid").jqGrid('delRowData', rowid);
                                        $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                                    },

                                }
                                );
                        }
                    }
                    else {
                        alert('选中一行');
                    }
                },
                position: "last"
            })
            .navButtonAdd('#jqGridPager', {
                //id: 'jqGrid_ilrefresh',
                caption: "", title: '@Resources.Language.Add', buttonicon: "ui-icon-plus",
                onClickButton: AddParent
            });

        $('#jqGrid').inlineNav('#jqGridPager',
            {
                edit: true,
                add: false,
                del: true,
                cancel: true,
                editParams: {
                    keys: true,
                    successfunc: function (val) {
                        if (val.responseText != "") {
                            var ret = $.parseJSON(val.responseText);
                            alert(ret.message);
                            $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        }
                    },
                    url: null, //'/api/values',
                    mtype: 'POST'
                },

                addParams: {
                    keys: true,
                    successfunc: function (val) {
                        //alert("111");
                        if (val.responseText != "") {
                            var ret = $.parseJSON(val.responseText);
                            alert(ret.message);
                            $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        }
                    },
                    errorfunc: function (rowid, xhr) {
                        alert(xhr.responseText);
                        $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    }
                }
            });

    //设置jqgrid表头
    function GetTableConfig() {
        tableConfig = {
            columns: [

                {
                    align: 'center', label: 'IDX', index: "IDX", name: "IDX", width: 100, editable: true, edittype: "text", key: true,
                    editrules: { required: false }, hidden: true,
                },
                {
                    align: 'center', label: '@Resources.Language.Org_UserName', name: "UserName", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: false,
                    searchoptions: { sopt: ["cn"] }
                    //searchoptions: { sopt: ["ge", "le"] }
                },
                {
                    align: 'center', label: '@Resources.Language.Org_Pwd', name: "Pwd", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: true,
                    //searchoptions: { sopt: ["cn"] }
                    //searchoptions: { sopt: ["ge", "le"] }
                },
                {
                    align: 'center', label: 'IsGuest', name: "IsGuest", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: true,
                    //searchoptions: { sopt: ["cn"] },
                    editoptions: {
                        defaultValue: "false"
                    }
                    //searchoptions: { sopt: ["ge", "le"] }
                },
                {
                    align: 'center', label: '@Resources.Language.Org_LanUserName', name: "LanUserName", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: true,
                    searchoptions: { sopt: ["cn"] }
                    //searchoptions: { sopt: ["ge", "le"] }
                },
                {
                    align: 'center', label: '@Resources.Language.Org_Lan', name: "Lan", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: true,
                    searchoptions: { sopt: ["cn"] }
                    //searchoptions: { sopt: ["ge", "le"] }
                },
                {
                    align: 'center', label: '@Resources.Language.Org_Dept', name: "Dept", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: true,
                    searchoptions: { sopt: ["cn"] }
                    //searchoptions: { sopt: ["ge", "le"] }
                },
                {
                    align: 'center', label: '@Resources.Language.Org_Sec', name: "Sec", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: true,
                    searchoptions: { sopt: ["cn"] }
                    //searchoptions: { sopt: ["ge", "le"] }
                },
                {
                    align: 'center', label: '@Resources.Language.Org_Name1', name: "Name1", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: false,
                    searchoptions: { sopt: ["cn"] }
                    //searchoptions: { sopt: ["ge", "le"] }
                },
                {
                    align: 'center', label: '@Resources.Language.Org_Name2', name: "Name2", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: false,
                    searchoptions: { sopt: ["cn"] }
                    //searchoptions: { sopt: ["ge", "le"] }
                },
                {
                    align: 'center', label: '@Resources.Language.Org_WorkNumber', name: "WorkNumber", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: false,
                    searchoptions: { sopt: ["cn"] }
                    //searchoptions: { sopt: ["ge", "le"] }
                },
                {
                    align: 'center', label: '@Resources.Language.Org_Sex', name: "Sex", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: false,
                    searchoptions: { sopt: ["cn"] }
                    //searchoptions: { sopt: ["ge", "le"] }
                },
                {
                    align: 'center', label: '@Resources.Language.Org_Tel', name: "Tel", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: false,
                    searchoptions: { sopt: ["cn"] }
                    //searchoptions: { sopt: ["ge", "le"] }
                },
                {
                    align: 'center', label: '@Resources.Language.Org_Email', name: "Email", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, colmenu: false,
                    hidden: false,
                    searchoptions: { sopt: ["cn"] }
                    //searchoptions: { sopt: ["ge", "le"] }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol1', name: "UserDefinedCol1", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol2', name: "UserDefinedCol2", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol3', name: "UserDefinedCol3", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol4', name: "UserDefinedCol4", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol5', name: "UserDefinedCol5", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, number: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol6', name: "UserDefinedCol6", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol7', name: "UserDefinedCol7", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol8', name: "UserDefinedCol8", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, integer: true }, hidden: true
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol9', name: "UserDefinedCol9", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, date: true }, hidden: true,
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        }
                    }
                },
                {
                    align: 'center', label: '@Resources.Language.UserDefinedCol10', name: "UserDefinedCol10", width: 100, editable: true, edittype: "text",
                    editrules: { required: false, date: true }, hidden: true,
                    datefmt: 'yyyy-mm-dd',
                    sorttype: 'date',
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                dateFormat: 'yy-mm-dd',
                                showOn: 'focus'
                            });
                        }
                    }
                },

                {
                    align: 'center', label: 'TreeID', name: "TreeID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                    editoptions: {},
                },
                {
                    align: 'center', label: 'TreeName1', name: "TreeName1", width: 100, editable: true, edittype: "text",
                    editrules: { required: false },
                    hidden: true,
                },
                {
                    align: 'center', label: 'FatherID', name: "FatherID", width: 100, editable: true, edittype: "text",
                    editrules: { required: false }, hidden: true,
                    editoptions: {},
                },
            {
                align: 'center', label: 'InCode', name: "InCode", width: 100, editable: true, edittype: "text",
                editrules: { required: false },
                hidden: true,
            }
            ]
        };
    }
    //模态框
    function AddParent() {
        $('#parent-modal').modal()
    }
    function initParentModal() {
        $('#parentErrMsg').hide();
        $('#_UserName').parent().removeClass("has-error");
        $('#_Dept').parent().removeClass("has-error");
        $('#_Sec').parent().removeClass("has-error");
        $('#_Name1').parent().removeClass("has-error");
        $('#_Name2').parent().removeClass("has-error");
        $('#_WorkNumber').parent().removeClass("has-error");
        $('#_Sex').parent().removeClass("has-error");
        $('#_Tel').parent().removeClass("has-error");
        $('#_Email').parent().removeClass("has-error");

        $('#_UserName').val("");
        $('#_Dept').val("");
        $('#_Sec').val("");
        $('#_Name1').val("");
        $('#_Name2').val("");
        $('#_WorkNumber').val("");
        $('#_Sex').val("");
        $('#_Tel').val("");
        $('#_Email').val("");
    }

    $('#parent-modal').on('show.bs.modal', function (e) {
        initParentModal();
    });
    $('#parent-modal').on('shown.bs.modal', function (e) {
    });
    $('#parent-modal').on('hide.bs.modal', function () {
        $(this).removeData("bs.modal");
        //alert("hide");
    });
    $('#parent-modal').on('hidden.bs.modal', function () {
        $(this).removeData("bs.modal");
        //alert("hidden");
    });

    function submitParentModal() {
        var maxTextLength = 25;
        var maxTextAreaLength = 500;

        $('#parentErrMsg').hide();
        $('#_UserName').parent().removeClass("has-error");
        $('#_Dept').parent().removeClass("has-error");
        $('#_Sec').parent().removeClass("has-error");
        $('#_Name1').parent().removeClass("has-error");
        $('#_Name2').parent().removeClass("has-error");
        $('#_WorkNumber').parent().removeClass("has-error");
        $('#_Sex').parent().removeClass("has-error");
        $('#_Tel').parent().removeClass("has-error");
        $('#_Email').parent().removeClass("has-error");

        var _UserName = $('#_UserName').val();
        var  _Dept= $('#').val();
        var  _Sec= $('#_Sec').val();
        var  _Name1= $('#_Name1').val();
        var  _Name2= $('#_Name2').val();
        var  _WorkNumber= $('#_WorkNumber').val();
        var _Sex = $('#_Sex').val();
        var  _Tel= $('#_Tel').val();
        var _Email = $('#_Email').val();


        if (_UserName.length <= 0) {
            $('#parentErrMsg p').html('@Resources.Language.UserInfor_UserName' + "@Resources.Language.IsNull");
            $('#_UserName').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        }
        else if (_Name1.length <= 0) {
            $('#parentErrMsg p').html('@Resources.Language.UserInfor_Name1' + "@Resources.Language.IsNull");
            $('#_Name1').parent().addClass("has-error");
            $('#parentErrMsg').show();
            return;
        }
        //提交数据库
        $.ajax({
            type: "post",
            url:"/Organization/AddUser",
            data: {
                'UserName': _UserName,
                'Dept': _Dept,
                'Sec': _Sec,
                'Name1': _Name1,
                'Name2': _Name2,
                'WorkNumber': _WorkNumber,
                'Sex': _Sex,
                'Tel': _Tel,
                'Email': _Email,
            },//"oper=delete&id=" + gr,
            dataType: 'json',
            success: function (result) {
                $('#parent-modal').modal('hide')
                alert(result.message);

                $('#jqGrid').jqGrid('setGridParam',
                {
                    datatype: 'json',
                    url:"/Organization/UserGetDataForLoadOnce",
                }).trigger('reloadGrid');

                $("#jqGrid").jqGrid('setGridParam', { editurl:"/Organization/UserAddEdit"});

            },
            error: function (result) {
                console.log(result)
                try {
                    var json = $.parseJSON(result.responseText);
                    alert(json.errorMessage);
                } catch (e) {
                    alert(e.message);
                }
                return;
            }
        });
        return false;

    }
</script>

